/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #F6B26B;
  border: 1px solid #000;
}


/*
 * Base structure
 */

html,
body {
	height: 100%;
    width: 100%;

}
body {

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
/* Pull out the header and footer */

.masthead {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	
	background-color: rgba(255, 229, 153, 0.7);
}
  
.masthead-brand {
	margin-top: auto;
	margin-bottom: auto;
	float: left;
}

.masthead-text {
	margin-top: 16px;
	margin-bottom: auto;
	vertical-align: middle;
	margin-left: 20px;
	float: left;
	font-size: 16px;
	font-style: italic;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}

.masthead-nav {
	float: right;
}


/*
 * Cover
 */

.cover {
	padding: 0 20px;
  

}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.panel{
	text-align: left; 
	background-color: rgba(255, 255, 255, 0.7);
}
#panel-welcome {
  width: 50%;
  float: left;
  margin: 10px;
  margin-top: 200px;
}
hr {
	border-color: #000;
}

/* Hiding */
#view-welcome {
	display: none;
	
	color: #000;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
    background: #fff url(http://fabresoft.com/soundinnoise/feeding2x.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
